<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249358968783-s6rj51fvng7jt7it20m1v4p40rrbqsfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249358968783-s6rj51fvng7jt7it20m1v4p40rrbqsfn</string>
	<key>API_KEY</key>
	<string>AIzaSyBcThQtj-nipGaxtO5-iTck55ANXTVT1zg</string>
	<key>GCM_SENDER_ID</key>
	<string>249358968783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cho.Refriger</string>
	<key>PROJECT_ID</key>
	<string>refriger-a735b</string>
	<key>STORAGE_BUCKET</key>
	<string>refriger-a735b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249358968783:ios:4db83166c7f8fc6e78d4ba</string>
	<key>DATABASE_URL</key>
	<string>https://refriger-a735b.firebaseio.com</string>
</dict>
</plist>